
body {
    font: 20px Arial, sans-serif;
}


.navbar {
    background-color: rgb(18, 168, 5)
}
.quem-somos {
    background-color: blueviolet;
    color: white
}

.margin {
    padding-top: 50px;
    padding-bottom: 50px
}

.parceiros {
    background-color: rgb(0, 195, 255);
    color: rgb(2, 44, 92)
}

.bg-footer {
    background-color: black;
    color: white
}